
<table id="TablaPersona" class="table display nowrap table-striped table-bordered scroll-horizontal table-hover">
  <thead id="table_body">
    <tr>
      <th scope="col">N°</th>
      <th scope="col">Nombre</th>
      <th scope="col">Ap_paterno</th>
      <th scope="col">Ap_materno</th>
      <th scope="col">C.I.</th>
      <th scope="col">Edad</th>
      <th scope="col">Celular</th>
      <th scope="col">Genero</th>
      <th scope="col" class="text-center"><i class="fa fa-cog"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="per, index : ${personas}">
      <td scope="row">
        <b th:text="${index.index + 1}"></b>
      </td>
      <td th:text="${per.nombre}"></td>
      <td th:text="${per.ap_paterno}"></td>
      <td th:text="${per.ap_materno}"></td>
      <td th:text="${per.ci}"></td>
      <td th:text="${per.edad}"></td>
      <td th:text="${per.num_celular}"></td>
      <td th:text="${per.genero.abreviatura_genero}"></td>
      <td>
        <div class="btn-group btn-group-justified btn-round">
          <a style="width: 100%;"
            th:attr="onclick='cargarModFormulario(\'' + ${per.id_persona} + '\')'"
            class="btn btn-blue btn-round mb-0">⚙️</a>
          <a th:id="${per.id_persona}" style="width: 100%;" onclick="MandarURL(this.id)"
            class="btn btn-danger btn-round mb-0">🗑️</a>
        </div>
      </td>
    </tr>
  </tbody>
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable();
    });
  </script>

  <script>
    function cargarModFormulario(id) {
              //alert("AAAAAAAAAAAAAAAAAAA");
              $.ajax({
                url: '/admin/editar-persona/' + id, // Reemplaza '/ruta_del_servidor' por la URL de tu servidor
                method: 'GET', // Utiliza el método HTTP que corresponda (GET, POST, etc.)
                // Envía el parámetro "id" al servidor
                success: function (response) {

                  $("#form1").html(response);  // Actualiza el contenido del div con la respuesta del servidor
                  var div = document.getElementById("form1");
                  div.scrollIntoView({ behavior: 'smooth' });
                  toastr.info('¿Modificar Registro?');
                },
                error: function (xhr, status, error) {
                  // Maneja los errores de la solicitud AJAX
                  console.log(error);
                }
              });
            }
  </script>
</table>