<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/layoutMain :: head"></head>

<body style="background-color: #dee2e6;">

  <div class="loader-container">
    <div class="loader"></div>
  </div>

  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <div class="wrapper">
    <div th:replace="layout/layoutMain :: menuLateral"></div>
    <div th:replace="layout/layoutMain :: menuCabezera"></div>

    <div class="main-panel">
      <div class="main-content">
        <div class="content-wrapper">
          <div class="container-fluid"><!-- Basic form layout section start -->
            <div id="FormularioReportaje">
              
            </div>
            <!-- ========= -->
            <!-- TABLA -->
            <!-- ========= -->
            <section id="basic-form-layouts">
              <div class="row">
                <div class="col-md-12">
                  <div class="card box-shadow-3">
                    <div class="card-header">
                      <div class="card-title-wrap bar-success">
                        <h4 class="card-title" id="basic-layout-form">Lista de Registros</h4>
                      </div>
                    </div>

                    <div class="card-body">
                      <div class="px-3" id="fragmentContainer">
                        
                        <div id="TablaReportaje"></div>
                        
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </section>
            <!-- ========= -->
            <!-- MODAL Descripcion-->
            <!-- ========= -->
            <div class="modal fade text-left" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" id="modalContent">
                </div>
              </div>
            </div>
            <!-- ========= -->
            <!-- MODAL2 Entrevistados -->
            <!-- ========= -->
            <div class="modal fade text-left" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content" id="modalContent2">
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>

      <div th:replace="layout/layoutMain :: footer"></div>

    </div>
  </div>
  <!-- ////////////////////////////////////////////////////////////////////////////-->

  
  <div th:replace="layout/layoutMain :: scrip1"></div>

  <!-- <script>
    $(document).ready(function() {
    $('.selectB').select2();
    $('.selectB_2').select2();
    $('.selectB_3').select2();
    $('.selectM').select2();    
    });
    function MandarId(param) {
      
      $.ajax({
          url: '/admin/modalReportaje/'+param,
          type: 'GET',
          success: function(data) {
              $("#modalContent").html(data);
              $("#myModal").modal('show');
          }
      });
      
    };
    function MandarId2(param) {
      
      $.ajax({
          url: '/admin/modalReportaje2/'+param,
          type: 'GET',
          success: function(data) {
              $("#modalContent2").html(data);
              $("#myModal2").modal('show');
          }
      });
      
    };
  </script> -->
  <script th:inline="javascript">
    
    cargarTabla();
    cargarFormulario();

    function cargarTabla() {
      $.ajax({
        type: 'POST',
        url: "/admin/tableReportaje",  // Ruta del metodo del controlador en Spring Boot
        success: function (response) {
          $("#TablaReportaje").html(response);  // Actualiza el contenido del div con la respuesta del servidor
        }
      });
    }

    function cargarFormulario() {
        $.ajax({
          type: 'POST',
          url: "/admin/NuevoReportaje",  // Ruta del metodo del controlador en Spring Boot
          success: function (response) {

            $("#FormularioReportaje").html(response);  // Actualiza el contenido del div con la respuesta del servidor
          }
        });
      }


    function cargarModFormulario(id) {
              //alert("AAAAAAAAAAAAAAAAAAA");
              $.ajax({
                url: '/admin/editar-reportaje/' + id, // Reemplaza '/ruta_del_servidor' por la URL de tu servidor
                method: 'GET', // Utiliza el método HTTP que corresponda (GET, POST, etc.)
                // Envía el parámetro "id" al servidor
                success: function (response) {

                  $("#FormularioReportaje").html(response);  // Actualiza el contenido del div con la respuesta del servidor
                  
                  toastr.info('¿Modificar Registro?');
                },
                error: function (xhr, status, error) {
                  // Maneja los errores de la solicitud AJAX
                  console.log(error);
                }
              });
            }

  </script>
</body>

</html>